{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block page_title %}Journal{% endblock page_title %}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{% static "journal/css/style.css" %}" />
  <script type="text/javascript" src="{% static "journal/js/jquery.min.js" %}" />
  <script type="text/javascript" src="{% static "journal/js/jquery.easing.min.js" %}" />
  <script type="text/javascript" src="{% static "journal/js/jquery.nivo.slider.pack.js" %}" />
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
  </script>
</head>

<body>

  <div id="main">
    <div id="menubar">
      {% include 'journal/menubar.html' %}
    </div><!-- menubar -->

    <div id="site_content">
      {% if not nobanner %}
        {% include 'journal/banner.html' %}
      {% endif %}

      <div class="sidebar_container">
        {% block sidebar_content %}
        {% endblock sidebar_content %}
      </div><!-- sidebar_container -->

      <div id="content">
        <div id="content_item">
          <h1>{% block content_header %}{% endblock content_header %}</h1>
          {% block content %}
          {% endblock content %}
        </div><!-- content_item -->
      </div><!-- content -->
      {% block bottom_blurbs %}
        {# {% include "journal/bottom_blurbs.html" %} #}
      {% endblock bottom_blurbs %}
    </div><!-- site_content -->
  </div><!-- main -->

  <div id="footer">
    {% include 'journal/footer.html' %}
  </div><!-- footer -->

</body>
</html>
