{% extends "journal/base.html" %}

{% block page_title %}
  {{ entry.title }} | {{ site_name|default:"Journal"}}
{% endblock page_title %}

{% block content_header %}
  {{ entry.title }}
{% endblock content_header %}

{% block content %}
  <h5>Written by {{ entry.author }}</h5>
  <h5>Published {{ entry.pub_date|date:"SHORT_DATETIME_FORMAT" }}</h5>
  <p>{{ entry.contents|safe }}</p>

  <br />
  <h5>Last modified {{ entry.mod_date|date:"SHORT_DATETIME_FORMAT" }} by {{ entry.modifier }}</h5>
  <h3>Tags</h3>
  {% spaceless %}
    <p>
    {% for tag in entry.tag_set.all %}
      <a href="{% url 'journal-tag' tag_id=tag.id %}">{{tag.name}}</a>{% include "comma.html" %}
    {% empty %}
      None!
    {% endfor %}
  {% endspaceless %}
  </p>
{% endblock content %}

{% block sidebar_content %}
  {% for sidebar_item in sidebar_contents %}
    {% include "journal/sidebar_item.html" %}
  {% endfor %}
{% endblock sidebar_content %}
