{% extends "journal/base.html" %}

{% block page_title %}
  {% if tag %}
    Latest tagged {{ tag.name }} | {{ site_name|default:"Journal" }}
  {% else %}
    Latest | {{ site_name|default:"Journal" }}
  {% endif %}
{% endblock page_title %}

{% block content_header %}
  {% if tag %}
    Latest entries tagged with <em>{{ tag.name }}</em>
  {% else %}
    Latest entries
  {% endif %}
{% endblock content_header %}

{% block content %}
  {% if latest_entries  %}
    <ul>
    {% for entry in latest_entries %}
      <li><a href="{% url journal.views.entry_detail entry_id=entry.id %}">{{ entry.title }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No entries are available.</p>
  {% endif %}
{% endblock content %}

{% block sidebar_content %}
  {% for sidebar_item in sidebar_contents %}
    {% include "journal/sidebar_item.html" %}
  {% endfor %}
{% endblock sidebar_content %}
